html {
  height: 100vh;
}
body {
  margin: 0;
  padding: 10px;
  height: 100%;
  font-family: "Bree Serif", serif;
}
.Messages {
  height: 200px !important;
}
.Messages > p {
  border-bottom-style: dashed;
  border-bottom-color: #34678a;
  border-bottom-width: thin;
}

#TypeMessage {
  display: inline-block !important;
  width: 80% !important;
  color: #ff5967;
}

#TypeMessage::placeholder {
  color: #ff5967;
}

#username {
  border-radius: 0.5rem;
  color: #34678a !important;
  line-height: 42px;
}

#username::placeholder {
  color: #34678a !important;
}

#cont {
  background-color: #34678a;
  width: 96px;
  font-weight: bold;
}

#StartBtn {
  background-color: #34678a;
  width: 96px;
  font-weight: bold;
}

.card-header {
  background-color: #d6fbf8;
  color: #34678a;
}

#Myname {
  float: left;
  font-size: 2rem;
}

#Enemyname {
  float: left;
  font-size: 2rem;
}

#Myscore {
  float: right;
  font-size: 2rem;
}

#Enemyscore {
  float: right;
  font-size: 2rem;
}

.selection {
  width: 80px;
  height: 80px;
}
/* .start {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;

  height: 300px;
} */

.Messages {
  color: #ff5967;
}

.Enemy .card-body {
  font-size: 1.5rem;
  color: #68bf60;
}

.Me .card-body {
  font-size: 1.5rem;
  color: #68bf60;
}

.modal-body > p {
  font-size: 1.5rem;
  color: #68bf60;
}
